@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #081b29;
  }

  .wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;
  }

  .wrapper .form_box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper .form_box.login {
    left: 0;
    padding: 0 60px 0 40px;
    margin-bottom: 10px 0;
  }

  .form_box h2 {
    font-size: 32px;
    text-align: center;
    color: #fff;
  }

  .form_box .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
  }

  .input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    padding-right: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    transition: .5s;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }

  .input_box input:focus,
  .input_box input:valid {
    border-bottom-color: #0ef;
  }

  .input_box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .input_box input:focus~label,
  .input_box input:valid~label {
    top: -5px;
    color: #0ef;
  }

  .input_box input::placeholder {
    visibility: hidden;
  }

  .input_box input:focus::placeholder {
    visibility: visible;
  }
  

  .input_box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;
  }

  .input_box input:focus~i,
  .input_box input:valid~i {
    color: #0ef;
  }

  .btn {
    position: relative;
    width: 100%;
    height: 45px;
    outline: none;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 40px;
    cursor: pointer;
    margin: 15px 0;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
  }

  .btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
  }

  .btn:hover::before {
    top: 0;
  }

  .lorgeg_link {
    font-size: 13.5px;
    color: #fff;
    text-align: center;
    margin: 15px 0 10px;
  }

  .lorgeg_link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
  }

  .lorgeg_link p a:hover {
    text-decoration: underline;
  }

  .wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
  }

  .info-text h2 {
    font-size: 36px;
    color: #fff;
   line-height: 1.3;
    text-transform: uppercase;
  }

  .info-text p {
    font-size: 16px;
    color: #fff;
  }

  .wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(450deg, #081b29, #0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
      }